<div class="w-full flex flex-col gap-2">
  <h3 class="text-xl font-medium ">Para ventas</h3>
  <app-text-area-secondary class="mb-1" [rows]="5" name="sales" size="sm" placeholder="Observaciones (Visible en la impresión del comprobante)" ></app-text-area-secondary>
    <h3 class="text-xl font-medium ">Para cotizaciones</h3>
  <app-text-area-secondary [rows]="4" name="sales" size="sm" placeholder="Observaciones (Visible en la impresión del comprobante)" ></app-text-area-secondary>
<app-button-secondary nombre="Actualizar"></app-button-secondary>
</div>
