<div class="relative">
  <input type="text" name="" id="correo" placeholder=" " class="peer h-16 text-neutral-800 bg-transparent w-full max-w-xl min-w-min px-5 pt-6 pb-2 appearance-none rounded-3xl transition-shadow duration-300 inset-ring-1 ring-gray-800 dark:ring-gray-200 focus:outline-none hover:inset-ring-2 focus:inset-ring-3">
  <label for="correo" class="absolute left-0 top-0 pl-5 transition-all duration-150 text-gray-700 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-placeholder-shown:pt-5 peer-focus:pt-2 peer-focus:text-xs ">Correo</label>
</div>
