<input
  [type]="type"
  [name]="name"
  [id]="name"
  placeholder=""
  [(ngModel)]="value"
  class="peer h-16 text-neutral-800 dark:text-neutral-50 w-full bg-transparent px-5 pt-6 pb-2 appearance-none rounded-3xl transition-shadow duration-300 inset-ring-1 focus:outline-none hover:inset-ring-2 focus:inset-ring-3"
/>
<label
  [for]="name"
  [ngClass]="{ 'pt-2 text-xs': value, 'pt-5 text-base text-neutral-700 dark:text-neutral-200': !value }"
  class="absolute left-0 top-0 pl-5 transition-all duration-150 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-neutral-700 dark:peer-placeholder-shown:text-neutral-200 peer-placeholder-shown:pt-5 peer-focus:pt-2 peer-focus:text-xs"
  >{{ placeholder }}</label
>
