<app-pop-up-card [visible]="visible" [trigger]="trigger" [size]="size">
  <nav class="w-full flex flex-col ">
    <!-- items -->
    <div *ngFor="let option of options,let i= index" (click)="handleOption(i)"
      class="w-full flex items-center gap-1 text-base justify-between transition-colors duration-150 hover:bg-neutral-200 dark:hover:dark:bg-neutral-700 cursor-pointer"
      [ngClass]="size==='sm'?' text-sm px-4':'py-3 text-base px-7'">
      <p>
        {{option}}
      </p>
      <!-- check -->
      <span class="material-symbols-rounded p-0 size-min" aria-label="ariaLabel"
        [ngClass]="optionsSelected===i?'text-green-600':'text-transparent'">
        check
      </span>
    </div>
  </nav>
</app-pop-up-card>
