<!-- contenido inyectado -->
<ng-template #customRightTemplate>
  <app-button-icon-label-quaternary (click)="openModal()" ariaLabel="Nueva categoría" iconName="add"></app-button-icon-label-quaternary>
</ng-template>
<div class="max-w-md w-full self-center">

  <app-presentation-card-primary (agregar)="openModal()" [items]="itemsCard" title="Organiza tus productos"
    labelButton="Crea tu primera categoría"></app-presentation-card-primary>

</div>

<app-shared-modal [typeConfirm]="true" [show]="showModal" (close)="closeModal()">
  <app-card-save-secondary title="Nueva categoría de producto" (close)="closeModal()">
    <!-- categoria-->
     <div class="w-full justify-between flex">
      <p class="text-sm">Nombre</p>
      <div class="w-84"><app-input-secondary size="sm" placeholder="Nombre de categoria"></app-input-secondary></div>
     </div>
  </app-card-save-secondary>
</app-shared-modal>