<div
  class="w-full flex items-center justify-center rounded-xl min-w-min transition-colors duration-150 bg-neutral-100 dark:bg-neutral-600 text-sm">
  <input type="text"
    class="flex-1 py-2 px-3 rounded-xl focus:bg-white placeholder:font-medium placeholder:text-neutral-400"
    [disabled]="isDisabled" [placeholder]="placeholder" [value]="value">
  <app-icon [hidden]="!isDisabled" ariaLabel="Buscar" class="py-1 px-2 hover:bg-neutral-200 cursor-pointer"
    (click)="handleActive()" iconName="edit" size="text-xl"></app-icon>
</div>
