<app-card-options [options]="options">
<ng-template #characteristics>
  <app-business-characteristics-card></app-business-characteristics-card>
</ng-template>
<ng-template #predeterminedObservations>
  <app-business-predetermined-observations-card></app-business-predetermined-observations-card>
</ng-template>

<ng-template #referralGuides>
  <app-business-referral-guides-card></app-business-referral-guides-card>
</ng-template>
<ng-template #additionalProductFields>
<app-business-additional-product-fields-card></app-business-additional-product-fields-card>
</ng-template>
<ng-template #additionalPurchaseDetails>
  <app-business-additional-purchase-details-card></app-business-additional-purchase-details-card>
</ng-template>
<ng-template #additionalPurchaseDetails>
<app-business-additional-sales-details-card></app-business-additional-sales-details-card>
</ng-template>
</app-card-options>
