<!-- contenido inyectado a nav-bar-menu -->
<ng-template #customRightTemplate>
  <!-- para opciones -->
  <app-button-icon-label-terciary (click)="openModal()" ariaLabel="Configuración de facturación"
    iconName="settings"></app-button-icon-label-terciary>
</ng-template>

<!-- tab nav para movil -->
<app-tab-bar-secondary (changeOption)="changeOptionTabBarSelected($event)" class="block md:hidden"
  [options]="optionsTabBar"></app-tab-bar-secondary>

<!-- para escritorio -->
<div class="w-full flex-col md:flex-row min-h-full hidden md:flex">
  <ng-container *ngTemplateOutlet="productosTemplate"></ng-container>
  <ng-container *ngTemplateOutlet="pagosTemplate"></ng-container>
</div>

<!-- para movil -->
<div class="block md:hidden" [ngSwitch]="optionsTabBarSelected">
  <ng-container *ngSwitchCase="0">
    <ng-container *ngTemplateOutlet="productosTemplate"></ng-container>
  </ng-container>
  <ng-container *ngSwitchCase="1">
    <ng-container *ngTemplateOutlet="pagosTemplate"></ng-container>
  </ng-container>
</div>

<!-- seccion productos -->

<ng-template #productosTemplate>
  <div class="md:border-r md:pt-5 border-neutral-300 dark:border-neutral-50 md:w-3/5 lg:w-2/3 pr-1 sm:pr-1.5">
    <!-- contenedor de barras y boton -->
    <div class="w-full flex gap-1">
      <!-- contenedor de barras dinamicas -->
      <div class="flex-1 flex flex-col gap-2" [ngSwitch]="optionSaleSelected">
        <app-bar-code-retail *ngSwitchCase="0"></app-bar-code-retail>
        <app-bar-search-add-product-service *ngSwitchCase="1"></app-bar-search-add-product-service>
        <app-text-area-terciary *ngSwitchCase="2" size="sm" name="description"
          placeholder="Descripción"></app-text-area-terciary>
        <app-bar-product-servicio-unitary *ngSwitchCase="2"></app-bar-product-servicio-unitary>
        <p *ngSwitchDefault>Opcion invalida</p>
      </div>
      <!-- boton -->
      <div class="group h-min">
        <app-button-icon-label-terciary (click)="handlePopUpOptionsSale()" #triggerOptionsSale
          class="invisible group-hover:visible" size="sm" iconName="more_horiz"></app-button-icon-label-terciary>
        <!-- opciones de venta -->
        <app-pop-up-options-check-return (changeOption)="changeOptionSelected($event)"
          [optionsSelected]="optionSaleSelected" *ngIf="showPopUpOptionsSale && triggerOptionsSale"
          [trigger]="triggerOptionsSaleRef" [options]="optionsOptionsSale"
          [visible]="showPopUpOptionsSale"></app-pop-up-options-check-return>
      </div>

    </div>

    <app-empty-card [large]="true" message="No hay productos"></app-empty-card>
  </div>
</ng-template>

<!-- seccion pagos -->

<ng-template #pagosTemplate>
  <div class="md:w-2/5 lg:w-1/3 pt-5">

    <div class="md:pl-5 mb-7">
      <app-button-terciary class="mb-8" label="Boleta"></app-button-terciary>
      <!-- monto total -->
      <div class="w-full mb-4 flex justify-between font-bold">
        <p>Total</p>
        <p>{{totalMount}}</p>
      </div>
      <app-bar-add-pay></app-bar-add-pay>
      <!-- container del button agregar pago -->
      <button type="button" class="my-4 text-xs text-neutral-600 hover:underline cursor-pointer"
        aria-label="Agregar de pago">
        <label>+ Pago</label>
      </button>

      <!-- buscador -->
      <app-input-search name="client" class="mt-2" placeholder="Cliente"></app-input-search>

      <div class="flex justify-end my-3">
        <!-- button agregar cliente -->
        <app-button-add-underline iconName="person_add" label="Agregar Cliente"></app-button-add-underline>
      </div>

    </div>
    <!-- container de select e input date -->
      <div class=" md:-mr-5 lg:-mr-10">
        <app-bar-currency-type-date></app-bar-currency-type-date>
      </div>
  </div>
</ng-template>

<!-- modal -->
<app-shared-modal [show]="showModal" (close)="closeModal()">
  <app-card-configurations-billing (close)="closeModal()"></app-card-configurations-billing>
</app-shared-modal>
