<app-menu-principal-layout (close)="handleSmallMenu()" *ngIf="isSmallMenuOpen()" class="fixed z-50 bg-white lg:hidden">
</app-menu-principal-layout>

<!-- menu principal permanente en pantallas grandes -->
<app-menu-principal-layout (isChangeDisplayedMenu)="changeDisplayedMenu()" [isDisplayedMenu]="isDisplayedMenu"
  class="hidden fixed left-0 top-0 lg:block z-50">
</app-menu-principal-layout>
<div class="flex-1 flex flex-col min-w-0 transition-all duration-300" [ngClass]="isDisplayedMenu?'lg:ml-64':'lg:ml-20'">
  <!-- carta de mes de prueba -->
  <app-trial-month-card class="sticky top-0 z-30"></app-trial-month-card>
  <!-- menu superios para pantallas pequeñas -->
  <app-menu-header (open)="handleSmallMenu()" class="block lg:hidden"></app-menu-header>

  <!-- router-oulet -->

  <router-outlet></router-outlet>

  <div class="fixed h-screen w-screen z-40 bg-black/40 lg:hidden" [hidden]="!isSmallMenuOpen()"
    (click)="handleSmallMenu()">
  </div>
</div>
