<div
  class="w-full flex items-center justify-center rounded-xl min-w-min transition-colors duration-150 bg-neutral-100 dark:bg-neutral-600 text-sm">
  <!-- primer input -->
  <input type="text"
    class="w-1/2 py-2 px-3 rounded-l-xl focus:bg-white placeholder:font-medium placeholder:text-neutral-400"
    [placeholder]="placeholderFirst" [name]="nameFirst" [type]="typeFirst">
  <input type="text"
    class="w-1/2 py-2 px-3 rounded-r-xl focus:bg-white placeholder:font-medium placeholder:text-neutral-400"
    [placeholder]="placeholderFirst" [name]="nameFirst" [type]="typeFirst">
</div>
