<app-card-save-primary (close)="onClose()" title="Configuración de facturación">
  <!-- seccion barra de busqueda -->
   <p class="text-base font-bold mb-4">Barra de búsqueda</p>
<app-checkbox-primary *ngFor="let option of optionsSearchBar"  [value]="option.value" [label]="option.label" ></app-checkbox-primary>
<!-- seccion visualizaciones coplementarias -->
    <p class="text-base font-bold mt-5 mb-4">Visualizaciones complementarias</p>
<app-checkbox-primary *ngFor="let option of optionsComplementaryVisualizations"  [value]="option.value" [label]="option.label" ></app-checkbox-primary>
 <!-- seccion opciones de facturacion -->
      <p class="text-base font-bold mt-5 mb-4">Opciones de facturación</p>
<app-checkbox-primary *ngFor="let option of optionsBilling"  [value]="option.value" [label]="option.label" ></app-checkbox-primary>

  <!-- seccion opciones de pago -->
         <p class="text-base font-bold mt-5 mb-4">Opciones de pago</p>
<app-checkbox-primary *ngFor="let option of optionsPay"  [value]="option.value" [label]="option.label" ></app-checkbox-primary>
</app-card-save-primary>

