<div class="w-full max-w-lg flex justify-start">
  <h2 class="text-4xl font-bold pb-6">Crea tu cuenta</h2>
</div>
<form (ngSubmit)="goToNextStep()" class="w-full grid grid-cols-2 gap-4">
  <app-input-primary
    class="col-span-2"
    type="text"
    name="correo"
    placeholder="Correo"
  ></app-input-primary>
  <app-input-primary
    class="col-span-2"
    type="password"
    name="password"
    placeholder="Contraseña"
  ></app-input-primary>
  <app-input-primary
    class="col-span-2"
    type="tel"
    name="telefono"
    placeholder="Télefono"
  ></app-input-primary>
  <app-input-primary
    type="text"
    name="name"
    placeholder="Nombre"
  ></app-input-primary>
  <app-input-primary
    type="text"
    name="lastname"
    placeholder="Apellidos"
  ></app-input-primary>
  <app-button-primary
    class="col-span-2"
    nombre="Siguiente"
  ></app-button-primary>
</form>
<div class="flex items-center justify-center gap-2 py-4 text-sm">
  <p>Al continuar indicas que has leído y aceptas los</p>
  <a
    routerLink="/"
    class="text-red-500 transition-all duration-150 hover:underline hover: underline-offset-4 py-2"
    >Terminos y condiciones</a
  >
</div>
