<ng-template #customRightTemplate>
  <app-button-secondary label="Nueva Venta"></app-button-secondary>
  <app-button-icon-label-terciary ariaLabel="Notificaciones" iconName="notifications"></app-button-icon-label-terciary>
  <app-button-icon-label-terciary ariaLabel="Exportar" iconName="download"></app-button-icon-label-terciary>
</ng-template>
<div class="w-full flex gap-2 items-center">
<app-button-icon-label-terciary *ngIf="isTableEnabled" ariaLabel="Cerrar filtros" label="Cerrar filtros" iconName="close" class="font-medium!" (click)="handleEnabledTable()" ></app-button-icon-label-terciary>
<app-date-picker-set></app-date-picker-set>
</div>


<app-table-filter [columns]="columns" title="Ventas" (enabled)="handleEnabledTable()" [filtersEnabled]="isTableEnabled"></app-table-filter>
