<div
  class="w-full flex items-center justify-center rounded-xl min-w-min transition-colors duration-150 bg-neutral-100 dark:bg-neutral-600 text-sm">

  <!-- select -->
  <select [name]="nameSelect" [id]="nameSelect" [(ngModel)]="valueSelect"
    class="w-3/5 transition-colors duration-150 py-2 px-3 rounded-l-xlplaceholder:font-medium placeholder:text-neutral-400">
    <option *ngFor="let option of options" [value]="option.value">{{option.label}}</option>
  </select>

  <!-- input -->
  <input type="text"
    class="w-2/5 py-2 px-3 rounded-r-xl focus:bg-white placeholder:font-medium placeholder:text-neutral-400"
    [placeholder]="placeholderInput" [name]="nameInput" [type]="typeInput">
</div>
