<!-- principal -->
<div
  class="py-4 px-2 flex flex-col h-screen border-r-1 border-neutral-300 dark:border-neutral-50 transition-all duration-300"
  [ngClass]="isDisplayedMenu() ? 'w-64' : 'w-20 justify-center'">

  <!-- contiene button lo principal -->
  <div class="w-full flex flex-col" [ngClass]="isDisplayedMenu()?'items-start':'items-center'"><app-button-icon ariaLabel="Logo" iconName="public"></app-button-icon></div>
    <app-button-icon-label-secondary name="EXPORTACIONES EL CHINO" iconName="expand_all" ></app-button-icon-label-secondary>
    <app-my-companies-card></app-my-companies-card>
    <!-- contiene el menu de opciones -->
  <nav class="flex-1 flex flex-col">

  </nav>
  <!-- footer -->
  <div class="w-full flex flex-col" >
    <div class="w-full flex justify-between items-center" [ngClass]="isDisplayedMenu()?'flex-row':'flex-col'" >
      <div class="flex-1 relative">
        <!-- carta de usuario -->
        <app-my-user-account-card #cardRef class="fixed bottom-20 left-6" [hidden]="!showCardUser()"></app-my-user-account-card>
        <!-- boton de carta usuario -->
        <app-button-icon-label #buttonCardUserRef [hidden]="!isDisplayedMenu()" (click)="handleShowCardUser()"  name="Exportaciones" iconName="person"></app-button-icon-label>
      </div>
      <app-button-icon ariaLabel="Maximizar" iconName="chevron_left" (click)="changeDisplayedMenu()"></app-button-icon>
    </div>
  </div>
</div>
