<!-- contenido inyectado -->
<ng-template #customRightTemplate>
  <app-button-icon-label-quaternary ariaLabel="Nueva cuenta" iconName="add"></app-button-icon-label-quaternary>
</ng-template>

<!-- table -->

<app-table-filter-secondary [columns]="columns" [data]="paymentMethods">
  <ng-template #row let-paymentMethods let-i="index">
    <td class="py-2 px-2.5 text-center cursor-grabbing">
      <!-- icono -->
      <span class="material-symbols-rounded text-base! size-full">
        drag_pan
      </span>
    </td>
    <td class="py-2 px-2.5 text-center">
      {{paymentMethods.order}}
    </td>
    <td class="py-2 px-2.5 text-center">
      {{paymentMethods.name}}
    </td>
    <td class="py-2 px-2.5 ">
      <div class="size-full flex justify-center">
        <app-button-icon-terciary iconName="delete"></app-button-icon-terciary>
      </div>
    </td>
  </ng-template>
</app-table-filter-secondary>
