/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@theme {
  --color-red-450: oklch(0.64 0.2355 25.331 / 96.31%);
  --shadow-uniform: 0 0 8px rgba(0, 0, 0, 0.2);
   --transition-opacity-transform: opacity,transform;
   ----breakpoint-xs: 25rem;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.transition-opacity-transform {
  transition-property: var(--transition-opacity-transform);
}
