<div class="w-full flex items-center cursor-pointer group px-2" [routerLink]="to">
  <div routerLinkActive="font-bold! text-red-600 dark:text-red-500"
    class="flex  items-center justify-center gap-2 px-4 py-2 w-min rounded-2xl transition-colors duration-150 group-hover:bg-red-100 dark:group-hover:bg-red-200 group-hover:text-red-500 font-semibold relative">
    <span class="material-symbols-rounded"> {{iconName}}</span>
    <!-- si esta expandido siempre se muestra -->
    <p *ngIf="isDisplayed">{{ title }}</p>

<!-- si no esta expandio se muestra en hover del group -->
    <p
      *ngIf="!isDisplayed"
      class=" hidden group-hover:block"
    >
      {{ title }}
    </p>
  </div>
</div>
